<h1>Listing families</h1>
<%= link_to 'New Family', new_admin_family_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Street Address</th>
    <th>RSVP Message</th>
    <th>Accepted Disclaimer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @families.each do |family| %>
  <tr>
    <td><%= family.name %></td>
    <td><%= family.email %></td>
    <td><%= family.phone %></td>
    <td><%= family.street_address %></td>
    <td><%= family.rsvp_message %></td>
    <td><%= family.accepted_disclaimer ? 'Yes' : 'No' %></td>
    <td><%= link_to 'Show', admin_family_path(family) %></td>
    <td><%= link_to 'Edit', edit_admin_family_path(family) %></td>
    <td><%= link_to 'Destroy', admin_family_path(family), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
