<h1>Family: <%= @family.name %></h1>

<%= link_to 'Edit', edit_admin_family_path(@family) %> |
<%= link_to 'Back', admin_families_path %>

<p id="notice"><%= notice %></p>
<% ["name", "email", "phone", "street_address", "rsvp_message", "accepted_disclaimer"].each do |col| %>
<p>
  <b><%= col.humanize.capitalize %>:</b>
  <%= @family[col] %>
</p>
<% end %>

<h2>People</h2>

<ul>
<% @family.people.each do |person| %>
  <li>
    <span style="font-weight:bold"><%= person.name %></span><%= person.is_guest? ? " - <span style=\"font-style:italic\">guest</span>".html_safe : "" %>  <br />
    <%= person.is_invited_ceremony? ? "is" : "not" %> invited to the ceremony<br />
    <%= person.is_attending_ceremony? ? "is" : "not" %> attending the ceremony<br />
    <%= person.is_attending_reception? ? "is" : "not" %> attending the reception (<%= person.meal ? person.meal.name : "no meal selected" %>)
  </li>
<% end %>
</ul>
