<h1>RSVP Details</h1>

<%= form_for @family, :url => request.path do |f| %>
<h2>Party Contact Informations</h2>
<p>Please ensure that we have correct and complete information for your party.</p>
<div class="input">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="input">
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</div>
<div class="input">
  <%= f.label :street_address %>
  <%= f.text_area :street_address, :rows => 3 %>
</div>

<% unless @family.people.where(:is_invited_ceremony => true).empty? %>
  <h2>Wedding Ceremony</h2>
  <p>The following people are invited to the wedding ceremony - <strong>please select those who will be able to attend</strong>.</p>
  <%= f.fields_for :people, @family.people do |mf| %>
    <% if mf.object.invited_ceremony? %>
      <%= mf.check_box :is_attending_ceremony %>
      <%= mf.label :is_attending_ceremony, mf.object.name %>
    <% end %>
  <% end %>
<% end %>

<h2>Reception</h2>
<p>Please indicate the people will be attending the reception, and what meal they will have.</p>
  <dl>
  <%= f.fields_for :people, @family.people do |mf| %>
    <dt><%= mf.check_box :is_attending_reception %> <%= mf.object.name %></dt>
    <dd>
      <div class="input meal select">
        <%= mf.label :meal_id, "Meal choice" %>
        <% if mf.object.adult? %>
          <%= mf.collection_select :meal_id, Meal.where(:is_adult => true), :id, :name, :prompt => true %>
        <% end %>
      </div>
    </dd>
  <% end %>
  </dl>

<h2>Leave a message</h2>
<p>If you have any additional comments, questions, or concerns, leave a message here and we'll be in touch.</p>
<div class="input message">
  <%= f.text_area :rsvp_message, :rows => 5 %>
</div>

<div class="submit">
  <%= f.submit "Save and continue" %>
</div>
<% end %>
