<h1>Confirm Guest Information</h1>

<p>You are welcome to bring a guest, if you would like. Please confirm their details, and if they plan to attend with you.</p>
<p>If you don't plan on having your guest attend, go ahead and click "Save and Continue" on the bottom.</p>
<h2>Here is who we have so far on our list</h2>
<%= form_for @family, :url => request.path do |f| %>
  <ol>
    <%= f.fields_for :people, @family.people.where(:is_guest => false) do |mf| %>
      <li><%= mf.object.name %></li>
    <% end %>
  </ol>
<% end %>

<h2>Please fill in your guests details</h2>
<%= form_for @family, :url => request.path do |f| %> 
  <ol>
    <%= f.fields_for :people, @family.people.where(:is_guest => true) do |mf| %>
      <li>
        <div class="input">
          <%= mf.label :first_name %>
          <%= mf.text_field :first_name %>
        </div>
        <div class="input">
          <%= mf.label :last_name %>
          <%= mf.text_field :last_name %>
        </div>
      </li>
      <%= mf.check_box :guest_is_attending? %> Please check this if you plan on having your guest attend as well.
    <% end %>
  </ol>
  <div class="submit">
    <%= f.submit "Save and Continue" %>
  </div>
<% end %>
