<h1>Wedding RSVP</h1>

<p>Greetings! To get started, enter your first and last name below.</p>

<%= form_for :person, :html => {:id => 'rsvp-login', :class => 'clearfix'} do |f| %>
<div class="input hint">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div class="input hint">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div class="submit">
  <%= f.submit "Continue" %>
</div>
<% end %>

<div style="color: #666;">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum justo in lacus elementum scelerisque. Ut urna orci, viverra sit amet pretium rhoncus, cursus ut arcu.</p>
</div>
