<p>Greetings! To get started, enter your first and last name below.</p>

<%= form_for :person, :html => {:id => 'rsvp-login', :class => 'clearfix'} do |f| %>
<div class="input hint">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div class="input hint">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>
<div class="submit">
  <%= f.submit "Continue" %>
</div>
<% end %>

<div style="color: #666;">
  <p>If you have any issues or questions, please contact me at <a href="mailto:anthony@hookedonus.com">anthony@hookedonus.com</a> or click to <a href="tel:+17153304665" onclick="jQuery('#callme').toggle('slow'); return false;">call me (715)330.4665</a>.</p>
  <div style="text-align: center; display: none;" id="callme"><object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=4364ee99c935dfc1a20fcb807e4ec8f3fe5b2370&style=0" /></object></div>
</div>
